body	
	background-image: url(../pictures/tlo.png)
	color: #efefef
	margin: 0
	font-family: 'Jura', sans-serif
	overflow-x: hidden

a
	color: white

a:hover
	color: $colorSecondary
	text-decoration: none

.container
	margin-left: auto
	margin-right: auto
	height: 100%
	width: 90%

