#date{
	text-align: right;
	margin-right: 10px;
	float: right;
}

#logo{
	color: #FFFFFF;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 80px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#lewypanel{
	float: left;
	width: 20%;
}

.menu{
	background: #8E2323;
	padding: 4px;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}


.menu>p{
	display: block;
	/*padding: 2px;
	border-bottom: 1px dashed #0a2b42;*/
	text-align: center;

}

#screenshoty{
	background: #8E2323;
	padding: 10px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;

}


#content1{
	float: left;
	width: 53%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 30px;
	border-radius: 10px;
}

#content{
	float: left;
	background-color: rgba(0, 0, 0, 0.8);
	width: 60%;
	height: 100%;
	border-radius: 10px;
}

#content>p{
	padding: 10px;
}

#prawypanel{
	float: left;
	width: 20%;
}

#logowanie{
	background: #8E2323;
	padding: 10px;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	right: 0;
}

#rejestracja{
	width: 80%;
	border-radius: 10px;
	background: #8E2323;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	padding: 5px;
}


#stopka{	
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.65);
	margin-top: 30px;

    position: absolute;
	left: 0;
	width: 100%;
}

label {
display: block;
margin-top: 10px;
overflow: hidden;
}

input {
width: 90%;
margin-top: 10px;
    color: black;
}

.button {
	margin-top: 10px;
    background-color: #2C5C34; 
	border: none;
	border-radius: 10px;
    color: white;
	padding: 10px;
	width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.button:hover{
	background-color: #3D6D45;
}

.rbutton{
	margin-top: 10px;
    background-color: #611717; 
	border: none;
	border-radius: 10px;
    color: white;
	padding: 15px;
	width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.rbutton:hover{
	background-color: #722828;
}

.tytulzakladki{
	font-weight: 700;
	text-align: center; 
	margin-top: 5px;
	border-bottom: 1px solid #C4C0C0;
}

#cytaty{

	background-color: black;
	clear: both;
	border-radius: 10px;
	margin: 0 auto;
	padding: 10px;
	position: absolute;
	font-size: 11px;
}

#winwalka{
	text-align: center;
	padding: 10px;
	background-color: green;
	border-radius: 10px;
	margin-top: 40px;
}

#losewalka{
	text-align: center;
	padding: 10px;
	background-color: red;
	border-radius: 10px;
	margin-top: 40px;
}

#walka{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 30px;
	text-align: center;
}

.naglowek{
	background-color: #611717;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	font-size: 16px;
}

.content{
	padding: 10px;
}

.error{
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* SILKA.PHP */
.silka{
	width: 100%;
	margin-left: 20px;
	border: 2px solid #611717;
	border-radius: 4px;
}

.silkasub{
	width: 100%;
	border: 5px solid #1b6a13;
	background-color: #1b6a13;
	cursor: pointer;
	color: white;
	border-radius: 2px;
}

.silkasub:hover{
	border: 5px solid #1a5a12;
	background-color: #1a5a12;
}

/*SZPITAL*/

#szpital{
	margin-left: 25%;
	margin-bottom: 8%;
	width: 10%;

	border: 5px solid #611717;
	border-radius: 4px;
}

#szpitalsubmit{
	width: 40%;

	border: 5px solid #1b6a13;
	background-color: #1b6a13;
	cursor: pointer;
	color: white;
	border-radius: 2px;
}

#szpitalsubmit:hover{
	width: 40%;

	border: 5px solid #1a5a12;
	background-color: #1a5a12;
}

/*BANK*/

.bank{
	margin-left: 25%;
	margin-bottom: 1%;
	width: 10%;

	border: 5px solid #611717;
	border-radius: 4px;
}

.banksubmit{
	width: 40%;

	border: 5px solid #1b6a13;
	background-color: #1b6a13;
	cursor: pointer;
	color: white;
	border-radius: 2px;
}

.banksubmit:hover{
	width: 40%;

	border: 5px solid #1a5a12;
	background-color: #1a5a12;
}

.ekwipunek{
	width: 100%;
	text-align: center;
}
#ranking{
	width: 100%;
	text-align: center;
}

#przestepstwo{
	width: 100%;
	text-align: center;
}


